@inject IStringLocalizer<Dictionary> Localize
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant Na Dlouhé třídě</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jidelnicek.web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-green border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Students" asp-action="List">
                    <h1 class="display-4">
                        <img src="@Url.Action("DisplayImage", "Images", new { fileName = "title 2.jpg" })" alt="Image" />
                    </h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="List">@Localize["Menu"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Localize["Contact_Us"]</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @* <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                @Thread.CurrentThread.CurrentUICulture.Name
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("ChangeLanguage", "Language", new { culture = "en", returnUrl = Context.Request.Path })">En</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ChangeLanguage", "Language", new { culture = "cz", returnUrl = Context.Request.Path })">Cz</a></li>
                            </ul>
                        </li> *@
                        <form id="languageForm" asp-controller="Home" asp-action="SetLanguage" method="post">
                            <select name="culture" onchange="document.getElementById('languageForm').submit();">
                                <option disabled selected>Vyberte jazyk</option>
                                <option value="cs-CZ">Čeština</option>
                                <option value="en-US">English</option>
                                <!-- Add other options here -->
                            </select>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Restaurant Na Dlouhé třídě - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localize["Contact_Us"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
